source https://nuget.org/api/v2
storage:none

clitool dotnet-fable >= 2.0.0-beta-003
nuget Fable.Core >= 2.0.0-beta-001
nuget Fable.Import.Browser >= 1.2.0-beta-001
nuget Fable.Import.Node
nuget Fable.Import.Electron
nuget Fable.PowerPack >= 2.0.0-beta-004
nuget Fable.Elmish.React
github fable-compiler/Fable src/dotnet/Fable.JS/Interfaces.fs
nuget Expecto
nuget Expecto.FsCheck